body {
  font-family: 'Raleway',sans-serif;
  /*color: #696969;*/
  color: #152750;
  letter-spacing: 2px;
  -webkit-font-smoothing: antialiased;
}

p {
  /*color: #8b8b8b;*/
}

img {
    image-orientation: 0deg;
}

a {
  text-decoration: none !important;
}

.container {
    padding-left: 75px;
    padding-right: 75px;
    background-color: white;
}

.navbar {
    background-color: white;
}

.navbar-default {
    border-color: white;
    margin-bottom: 0px;
}

.navbar-brand {
  width: 175px;
  height: 80px;
}

.nav >li >a {
  padding-top: 30px;
  padding-bottom: 30px;
}

.navbar-toggle {
  padding: 10px;
  margin: 25px 15px 25px 0;
}

/*.navbar-brand>img {
    width: 100px;
}*/

.navbar-default .navbar-nav>li>a {
    /* color: #777; */
    color: #152750;
}

#logoimg {
  width: 100%;
}

#collapsed {
    border-color: white;
    background-color: white;
}

.icon-bar {
    background-color: #888;
}

#id:hover {
    background-color: white;
}

@media only screen and (max-width : 768px){
    .navbar-brand {
      padding: 0px;
      transform: translateX(-50%);
      left: 50%;
      position: absolute;
    }

    .example-8 .navbar-brand>img {
      height: 100%;
      width: auto;
      padding: 7px 14px; 
    }

    #logoimg {
      padding-top: 10px;
    }

}

@media (min-width: 768px) {
  ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;
  }
}

.carousel-inner .item {
  opacity: 0;
  transition-property: opacity;
}
.carousel-inner .active {
  opacity: 1;
}
.carousel-inner .active.left,
.carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}
.carousel-inner .next.left,
.carousel-inner .prev.right {
  opacity: 1;
}
.carousel-control {
  z-index: 2;
}

.carousel-control.right{
    background-image: none;
}

.carousel-control.left{
    background-image: none;
}

@media all and (transform-3d), (-webkit-transform-3d) {
    .carousel-inner > .item.next,
    .carousel-inner > .item.active.right {
      -webkit-transform: translate3d( 0, 0, 0);
      transform: translate3d( 0, 0, 0);
    }
    .carousel-inner > .item.prev,
    .carousel-inner > .item.active.left {
      -webkit-transform: translate3d( 0, 0, 0);
      transform: translate3d( 0, 0, 0);
    }
    .carousel-inner > .item.next.left,
    .carousel-inner > .item.prev.right,
    .carousel-inner > .item.active {
       -webkit-transform: translate3d(0, 0, 0);
       transform: translate3d(0, 0, 0);
    }
}

li {
  font-size: 12px;
  font-weight: 700;
  text-rendering: uppercase;
}

/*.contactus{
  background-color: #8f8664; 
  color: white;
}
*/
/*.contactus:hover {
  background-color: white;
  color: #e6ae48;
  border: 2px solid;
  border-color: #8f8664;
  -webkit-transition: background 0.3s linear;
  -moz-transition: background 0.3s linear;
  -ms-transition: background 0.3s linear;
  -o-transition: background 0.3s linear;
  transition: background 0.3s linear;
}*/

/*#contactuslink {
  color: white;
}*/

.averyheader {
  font-family: 'Crete Round', sans-serif;
  font-size: 20px;
  font-weight: 500;
  font-style: italic;
  /*color: #8f8664;*/
  color: #152750;
  /*margin-bottom: 5px;*/
  margin-bottom: 0px;
  /*border-color: #152750;*/
  border: none;
}

.averysubheader {
  margin-top: 0px;
}

.page-header {
  margin-bottom: 0px !important;
}
#contactuslink:hover {
  color: #e6ae48;
}

.navbar-default .navbar-nav>li>a:hover {
  color: #e6ae48;
}

.seperator {
  width: 25%;
  border-color: #152750;
}  

.row-seperator {
  width: 25%;
  border-color: #152750;
  max-width: 80px;
}

.portfolio-header {
  margin-top: 20px;
  font-size: 13px;
  font-weight: 500;
}

.portfolio-text {
  font-size: 13px; 
}

footer {
  background-color: #393939;
  width: 100%;
  color: white;
  margin-bottom: 0px;
}

footer .row {
  /*padding: 75px;*/
}

.footer-container {
  padding:75px;
}

.footer-header {
  font-size: 13px;
  margin-bottom: 20px;
  font-weight: 700;
}

.footer-body {
  font-size: 13px;
}

#about-text {
  margin-bottom: 25px;
}

#email-link {
  color: white;
}

#email-link:hover {
  color: #e6ae48;
}


.footer-container{
  clear: both;
  position: relative;
}

.footer-container:after {
  clear: both;
  content: " ";
  display: block;
  height: 0;
  visibility: hidden;
}

.footer-container .column:not(:first-child):after, .footer-container .columns:not(:first-child):after{
  background: #DDDDDD;
  bottom: 0;
  content: " ";
  margin-left: -10px;
  position: absolute;
  top: 0;
  width: 1px;
}

.recenthomes {
  margin-top: 20px;
}

.recent-image {
  margin-bottom: 30px;
}

